.home {
  background-image: url("../images/blinkBackground.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .banner {
    // background-color: red;
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      margin-top:200px ;
      width: 60%;
      height:600px;
    }

    .title {
      position: absolute;
      top: 150px;
      //   background-color: aquamarine;
      width: 55%;
      height: 250px;
      padding-left: 35px;

      .quotes {
        display: flex;
        justify-content: space-between;
        font-family: "Kaushan Script", cursive;
        font-size: 25px;
        color: white;
        padding-top: 40px;
      }

      h1 {
        position: relative;
        padding-top: 60px;
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        letter-spacing: 2px;
        font-weight: normal;
        color: white;
      }

      h2 {
        color: white;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 2px;
        font-size: 20px;
      }
    }
  }

  .textWrapperWrap{
    display: flex;
    justify-content: center;
  .textWrapper {
    padding-top: 40px;
    margin-bottom: 25px;
    width: 70%;
    // display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
    border-radius: 10px;


    .bodyText {
      height: 300px;
      width: 300px;

      h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: normal;
        // text-decoration: underline;
        border-bottom: 2px solid black;
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: normal;
      }
    }
  }
}
}
