.login {
  background-image: url("../images/blinkBackground.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .forms {
    // display: flex;
    // justify-content: space-around;
    // background-color: blue;
    width: 80%;
    margin: auto;
    height: 100%;
    padding-top: 200px;

    .loginBlock {
      background-color: white;
      // padding-top: 150px;
      border-radius: 10px;
      margin-left: 150px;
      width: 70%;
      height: 300px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.49);

      h1 {
        font-size: 32px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 2px;
        //font-weight: bolder;
        width: 230px;
        padding-left: 10px;
        padding-top: 20px;
      }
      form {
        // background-color: red;
        width: 80%;
        margin-left: 30px;
        margin-top: -10px;
        p {
          color: black;
          font-size: 14px;
          font-family: "Gill Sans MT";
          letter-spacing: 1.5px;
        }

        #siEmail {
          margin-top: 32px;
        }

        #siPassword {
          margin-top: 32px;
        }
        input {
          // margin-top: 32px;
          //   background-color: $loginBackgroundColor;
          // border: none;
          border: 1px solid black;
          border-radius: 5px;
          width: 100%;
          height: 30px;
        }
        ::placeholder {
          color: gray;
          font-size: 14px;
          font-family: "Gill Sans MT";
          letter-spacing: 1.5px;
        }

        #siSubmit {
          // margin-top: 56px;
          background-color: black;
          color: white;
          border: none;
          width: 160px;
          height: 32px;
          border-radius: 5px;
          font-family: "Montserrat", sans-serif;
          font-size: 20px;
          font-weight: lighter;
          letter-spacing: 2px;
          box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

          &:hover {
            background-color: gray;
          }
        }
        .forgotPasswordDiv {
          margin-top: 30px;
          // display: flex;
          // justify-content: center;

          #fpw {
            padding-top: 5px;
            padding-left: 6px;
            // background-color: #ffd972;
            border: none;
            width: 207px;
            height: 35px;
            // border-radius: 20px;
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            letter-spacing: 2px;
            // box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-decoration: none;
            color: gray;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        .wrap {
          padding-top: 20px;
          display: flex;
          justify-content: space-between;
          width: 60%;
          .loginDiv {
            .loginBtn {
              // margin-top: 56px;
              background-color: black;
              color: white;
              border: none;
              width: 160px;
              height: 32px;
              border-radius: 5px;
              font-family: "Montserrat", sans-serif;
              font-size: 20px;
              font-weight: lighter;
              letter-spacing: 2px;
              box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

              &:hover {
                background-color: rgba(67, 154, 134, 0.7);
              }
            }
            .googleDiv {
              background-color: black;
              color: white;
              border: none;
              width: 200px;
              height: 32px;
              border-radius: 5px;
              font-family: "Montserrat", sans-serif;
              font-size: 20px;
              font-weight: lighter;
              letter-spacing: 2px;
              box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              &:hover {
                background-color: gray;
              }
              a {
                padding-left: 8px;
                text-decoration: none;
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                letter-spacing: 2px;
                color: white;
              }
            }
          }
        }
      }
    }

    .signUpBlock {
      background-color: white;
      border-radius: 10px;
      margin-left: 150px;
      margin-top: 100px;
      width: 70%;
      height: 600px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.49);

      p {
        color: black;
        font-size: 14px;
        font-family: "Gill Sans MT";
        letter-spacing: 1.5px;
      }

      h1 {
        font-size: 32px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 2px;
        //font-weight: bolder;
        width: 230px;
        padding-left: 10px;
        padding-top: 20px;
      }

      form {
        width: 80%;
        margin-left: 30px;
        margin-top: -10px;

        label {
          padding-top: 20px;

          h3 {
            color: black;
            font-size: 14px;
            font-family: "Gill Sans MT";
            letter-spacing: 1.5px;
          }
          h4{
            font-family: "Gill Sans MT";
            letter-spacing: 1.5px;
          }
        }
        input {
          border: 1px solid black;
          border-radius: 5px;
          width: 100%;
          height: 30px;

          // #role_0 {
          //   background-color: red;
          // }
          // #role_1 {
          // }
        }
        ::placeholder {
          color: gray;
          font-size: 14px;
          font-family: "Gill Sans MT";
          letter-spacing: 1.5px;
        }
        #sufName {
          margin-top: 32px;
        }

        #sulName {
          margin-top: 32px;
        }
        #suEmail {
          margin-top: 32px;
        }

        #suPassword {
          margin-top: 32px;
        }
        #suSubmit {
          margin-top: 20px;
          background-color: black;
          color: white;
          border: none;
          width: 160px;
          height: 32px;
          border-radius: 5px;
          font-family: "Montserrat", sans-serif;
          font-size: 20px;
          font-weight: lighter;
          letter-spacing: 2px;
          box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

          &:hover {
            background-color: gray;
          }
        }
      }
    }
  }

  .message_body {
    // background-color: red;
    width: 100%;
    margin-top: 150px;

    p {
      font-size: 28px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      // width: 230px;
    }
  }

  .retrievePassword {
    width: 100%;
    margin-top: 150px;
    p {
      font-size: 28px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      // width: 230px;
    }
  }
  .passwordConfirm {
    width: 100%;
    margin-top: 150px;
    p {
      font-size: 28px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      // width: 230px;
    }
    input {
      margin-top: 62px;
      //   background-color: $loginBackgroundColor;
      border: none;
      border-bottom: 3px solid black;
      width: 207px;
    }
    ::placeholder {
      color: black;
      font-size: 14px;
      font-family: "Gill Sans MT";
      letter-spacing: 1.5px;
    }
  }
}
