.contactView{
    .wrapper {
        padding-top: 100px;

        .message-notice{
          padding-left: 100px;
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          letter-spacing: 2px; 
        }
    
        h1 {
          padding-left: 100px;
          font-family: "Montserrat", sans-serif;
          font-size: 20px;
          letter-spacing: 2px;
        }
        .message{
            padding-left: 100px;
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            letter-spacing: 2px;        }
      }

}