* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
  }
  
  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
    //color: white;
  }
  
  .wrapper {
    min-height: 100vh;
  }
  
  .full {
    // padding: 110px 30px;
    // min-height: 100vh;
    /*position: absolute;*/
    width: 100%;
    /*z-index: 0;*/
    display: none;
    /*background-color: aquamarine;*/
  }