* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px; }

.wrapper {
  min-height: 100vh; }

.full {
  /*position: absolute;*/
  width: 100%;
  /*z-index: 0;*/
  display: none;
  /*background-color: aquamarine;*/ }

.about {
  margin-top: 100px; }
  .about h1 {
    text-align: center;
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px; }
  .about p {
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px; }

.contactJSON .wrapper {
  margin-top: 200px;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  width: 80%; }
  .contactJSON .wrapper .text {
    width: 60%;
    text-align: center; }
    .contactJSON .wrapper .text h1 {
      font-size: 36px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px; }
    .contactJSON .wrapper .text p {
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px; }
  .contactJSON .wrapper .contactInfo {
    width: 40%;
    text-align: center; }
    .contactJSON .wrapper .contactInfo h1 {
      font-size: 36px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px; }
    .contactJSON .wrapper .contactInfo ul {
      margin-bottom: 100px; }
      .contactJSON .wrapper .contactInfo ul li {
        list-style-type: none;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 2px; }
  .contactJSON .wrapper .lists {
    display: none;
    height: 100%;
    background-color: #888; }

.contactJSON .form-group {
  margin-bottom: 1em; }

.contactJSON .label-container {
  display: inline-block;
  width: 130px;
  text-align: right; }

.contactJSON .input-container {
  display: inline-block;
  width: 300px;
  margin-left: 1em; }

.contactJSON input,
.contactJSON textarea,
.contactJSON submit {
  display: inline-block;
  width: 300px;
  margin-left: 1em;
  padding: 0.5em;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc; }

.contactJSON .textarea-label {
  display: inline-block;
  width: 130px;
  text-align: right;
  vertical-align: top; }

.contactJSON textarea {
  height: 100px; }

.contactJSON input[type='submit'] {
  margin-left: 400px;
  width: 100px;
  color: black;
  font-weight: 700;
  background-color: #F2BB05;
  cursor: pointer; }

.contactJSON input[type='submit']:hover {
  background-color: rgba(67, 154, 134, 0.7); }

.contactJSON .message_body {
  display: none; }

.contactMySQL .wrapper {
  margin-top: 200px;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  width: 80%; }
  .contactMySQL .wrapper .text {
    width: 60%;
    text-align: center; }
    .contactMySQL .wrapper .text h1 {
      font-size: 36px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px; }
    .contactMySQL .wrapper .text p {
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px; }
  .contactMySQL .wrapper .contactInfo {
    width: 40%;
    text-align: center; }
    .contactMySQL .wrapper .contactInfo h1 {
      font-size: 36px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px; }
    .contactMySQL .wrapper .contactInfo ul {
      margin-bottom: 100px; }
      .contactMySQL .wrapper .contactInfo ul li {
        list-style-type: none;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 2px; }
  .contactMySQL .wrapper .lists {
    display: none;
    height: 100%;
    background-color: #888; }

.contactMySQL .form-group {
  margin-bottom: 1em; }

.contactMySQL .label-container {
  display: inline-block;
  width: 130px;
  text-align: right; }

.contactMySQL .input-container {
  display: inline-block;
  width: 300px;
  margin-left: 1em; }

.contactMySQL input,
.contactMySQL textarea,
.contactMySQL submit {
  display: inline-block;
  width: 300px;
  margin-left: 1em;
  padding: 0.5em;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc; }

.contactMySQL .textarea-label {
  display: inline-block;
  width: 130px;
  text-align: right;
  vertical-align: top; }

.contactMySQL textarea {
  height: 100px; }

.contactMySQL input[type='submit'] {
  margin-left: 400px;
  width: 100px;
  color: black;
  font-weight: 700;
  background-color: #F2BB05;
  cursor: pointer; }

.contactMySQL input[type='submit']:hover {
  background-color: rgba(67, 154, 134, 0.7); }

.contactMySQL .message_body {
  display: none; }

.home {
  background-image: url("../images/blinkBackground.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .home .banner {
    display: flex;
    justify-content: center;
    width: 100%; }
    .home .banner img {
      margin-top: 200px;
      width: 60%;
      height: 600px; }
    .home .banner .title {
      position: absolute;
      top: 150px;
      width: 55%;
      height: 250px;
      padding-left: 35px; }
      .home .banner .title .quotes {
        display: flex;
        justify-content: space-between;
        font-family: "Kaushan Script", cursive;
        font-size: 25px;
        color: white;
        padding-top: 40px; }
      .home .banner .title h1 {
        position: relative;
        padding-top: 60px;
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        letter-spacing: 2px;
        font-weight: normal;
        color: white; }
      .home .banner .title h2 {
        color: white;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 2px;
        font-size: 20px; }
  .home .textWrapperWrap {
    display: flex;
    justify-content: center; }
    .home .textWrapperWrap .textWrapper {
      padding-top: 40px;
      margin-bottom: 25px;
      width: 70%;
      justify-content: space-around;
      text-align: center;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
      border-radius: 10px; }
      .home .textWrapperWrap .textWrapper .bodyText {
        height: 300px;
        width: 300px; }
        .home .textWrapperWrap .textWrapper .bodyText h1 {
          font-family: "Montserrat", sans-serif;
          font-size: 20px;
          letter-spacing: 2px;
          font-weight: normal;
          border-bottom: 2px solid black; }
        .home .textWrapperWrap .textWrapper .bodyText p {
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
          letter-spacing: 2px;
          font-weight: normal; }

footer {
  position: relative;
  max-height: 120px;
  background-color: #439A86;
  /*bottom: 0;*/
  display: flex;
  justify-content: space-around; }
  footer .copyright {
    padding-top: 25px;
    font-size: 15px;
    font-family: "Gill Sans MT";
    font-style: italic; }
  footer .footerText {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    width: 60%;
    font-family: "Gill Sans MT";
    font-style: italic;
    font-size: 15px;
    height: 60px; }
    footer .footerText a {
      text-decoration: none;
      color: black; }
  footer .social {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 10%; }
    footer .social i {
      font-size: 40px; }

.JSON {
  background-image: url("../images/blinkBackground.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .JSON .wrapper {
    padding-top: 100px;
    display: flex;
    justify-content: center; }
    .JSON .wrapper .contentWrap h1 {
      padding-left: 100px;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      letter-spacing: 2px; }
    .JSON .wrapper .contentWrap .content .flexWrapper {
      width: 80%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 40px;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.49);
      border-radius: 10px; }
      .JSON .wrapper .contentWrap .content .flexWrapper .image {
        height: 200px;
        width: 200px; }
        .JSON .wrapper .contentWrap .content .flexWrapper .image img {
          max-height: 100%;
          min-height: 100%;
          width: 100%;
          overflow: hidden;
          object-fit: cover; }
      .JSON .wrapper .contentWrap .content .flexWrapper .bio {
        height: 200px;
        width: 60%;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: normal; }
        .JSON .wrapper .contentWrap .content .flexWrapper .bio .bioClass {
          font-size: 14px; }

.login .forms {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto; }
  .login .forms .loginBlock {
    margin-top: 150px;
    width: 207px; }
    .login .forms .loginBlock h1 {
      font-size: 32px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      width: 230px; }
    .login .forms .loginBlock form p {
      color: black;
      font-size: 14px;
      font-family: "Gill Sans MT";
      letter-spacing: 1.5px; }
    .login .forms .loginBlock form input {
      margin-top: 62px;
      border: none;
      border-bottom: 3px solid black;
      width: 207px; }
    .login .forms .loginBlock form ::placeholder {
      color: black;
      font-size: 14px;
      font-family: "Gill Sans MT";
      letter-spacing: 1.5px; }
    .login .forms .loginBlock form #siSubmit {
      margin-top: 56px;
      background-color: #ffd972;
      border: none;
      width: 207px;
      height: 52px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .login .forms .loginBlock form #siSubmit:hover {
        background-color: rgba(67, 154, 134, 0.7); }
    .login .forms .loginBlock form .forgotPasswordDiv {
      margin-top: 30px;
      display: flex;
      justify-content: center; }
      .login .forms .loginBlock form .forgotPasswordDiv #fpw {
        padding-top: 5px;
        padding-left: 6px;
        background-color: #ffd972;
        border: none;
        width: 207px;
        height: 35px;
        border-radius: 20px;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        letter-spacing: 2px;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-decoration: none;
        color: black; }
        .login .forms .loginBlock form .forgotPasswordDiv #fpw:hover {
          background-color: rgba(67, 154, 134, 0.7); }
    .login .forms .loginBlock form .loginDiv .loginBtn {
      margin-top: 56px;
      background-color: #ffd972;
      border: none;
      width: 207px;
      height: 52px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .login .forms .loginBlock form .loginDiv .loginBtn:hover {
        background-color: rgba(67, 154, 134, 0.7); }
    .login .forms .loginBlock form .loginDiv .googleDiv {
      text-align: center;
      margin-top: 36px;
      background-color: #ffd972;
      border: none;
      width: 207px;
      height: 62px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .login .forms .loginBlock form .loginDiv .googleDiv:hover {
        background-color: rgba(67, 154, 134, 0.7); }
      .login .forms .loginBlock form .loginDiv .googleDiv a {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        color: black; }
  .login .forms .signUpBlock {
    margin-top: 115px;
    width: 250px; }
    .login .forms .signUpBlock p {
      font-family: Gill Sans MT, Italics;
      font-style: italic;
      font-size: 12px;
      letter-spacing: 1.5px; }
    .login .forms .signUpBlock h1 {
      font-size: 32px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      width: 207px; }
    .login .forms .signUpBlock input {
      margin-top: 62px;
      border: none;
      border-bottom: 3px solid black;
      width: 250px; }
    .login .forms .signUpBlock ::placeholder {
      color: black;
      font-size: 14px;
      font-family: "Gill Sans MT";
      letter-spacing: 1.5px; }
    .login .forms .signUpBlock #suSubmit {
      margin-top: 56px;
      background-color: #ffd972;
      border: none;
      width: 250px;
      height: 52px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .login .forms .signUpBlock #suSubmit:hover {
        background-color: rgba(67, 154, 134, 0.7); }

.login .message_body {
  width: 100%;
  margin-top: 150px; }
  .login .message_body p {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px; }

.login .retrievePassword {
  width: 100%;
  margin-top: 150px; }
  .login .retrievePassword p {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px; }

.login .passwordConfirm {
  width: 100%;
  margin-top: 150px; }
  .login .passwordConfirm p {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px; }
  .login .passwordConfirm input {
    margin-top: 62px;
    border: none;
    border-bottom: 3px solid black;
    width: 207px; }
  .login .passwordConfirm ::placeholder {
    color: black;
    font-size: 14px;
    font-family: "Gill Sans MT";
    letter-spacing: 1.5px; }

nav {
  display: flex;
  top: 0;
  position: fixed;
  height: 80px;
  width: 100%;
  justify-content: center; }
  nav .nav-footer {
    display: flex;
    top: 0;
    height: 80px;
    width: 100%;
    z-index: 99; }
  nav .links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    padding-right: 20px;
    letter-spacing: 2px; }
    nav .links a {
      padding-left: 10px;
      color: black;
      text-decoration: none; }
      nav .links a:hover {
        text-decoration: underline;
        text-decoration-color: white; }
      nav .links a .slash {
        text-decoration: none; }
    nav .links .loginDiv .loginBtn {
      margin-top: 0px;
      background-color: #F2BB05;
      border: none;
      width: 120px;
      height: 52px;
      border-radius: 20px;
      font-family: 'Montserrat', sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      nav .links .loginDiv .loginBtn:hover {
        background-color: rgba(67, 154, 134, 0.7); }
      nav .links .loginDiv .loginBtn button {
        height: 52px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-size: 25px; }
        nav .links .loginDiv .loginBtn button:hover {
          border-bottom: solid black 2px; }

nav a {
  margin: auto; }

.contactView .wrapper {
  padding-top: 100px; }
  .contactView .wrapper .message-notice {
    padding-left: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    letter-spacing: 2px; }
  .contactView .wrapper h1 {
    padding-left: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    letter-spacing: 2px; }
  .contactView .wrapper .message {
    padding-left: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    letter-spacing: 2px; }

.wrapper #main_content {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto; }
  .wrapper #main_content .loginBlock {
    margin-top: 150px;
    width: 207px; }
    .wrapper #main_content .loginBlock h1 {
      font-size: 32px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      width: 230px; }
    .wrapper #main_content .loginBlock form p {
      color: black;
      font-size: 14px;
      font-family: "Gill Sans MT";
      letter-spacing: 1.5px; }
    .wrapper #main_content .loginBlock form input {
      margin-top: 62px;
      border: none;
      border-bottom: 3px solid black;
      width: 207px; }
    .wrapper #main_content .loginBlock form ::placeholder {
      color: black;
      font-size: 14px;
      font-family: "Gill Sans MT";
      letter-spacing: 1.5px; }
    .wrapper #main_content .loginBlock form #siSubmit {
      margin-top: 56px;
      background-color: #ffd972;
      border: none;
      width: 207px;
      height: 52px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .wrapper #main_content .loginBlock form #siSubmit:hover {
        background-color: rgba(67, 154, 134, 0.7); }
    .wrapper #main_content .loginBlock form .loginDiv .loginBtn {
      margin-top: 56px;
      background-color: #ffd972;
      border: none;
      width: 207px;
      height: 52px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .wrapper #main_content .loginBlock form .loginDiv .loginBtn:hover {
        background-color: rgba(67, 154, 134, 0.7); }
    .wrapper #main_content .loginBlock form .loginDiv .googleDiv {
      text-align: center;
      margin-top: 36px;
      background-color: #ffd972;
      border: none;
      width: 207px;
      height: 62px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .wrapper #main_content .loginBlock form .loginDiv .googleDiv:hover {
        background-color: rgba(67, 154, 134, 0.7); }
      .wrapper #main_content .loginBlock form .loginDiv .googleDiv a {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        color: black; }
  .wrapper #main_content form {
    margin-top: 115px;
    width: 250px; }
    .wrapper #main_content form p {
      font-family: Gill Sans MT, Italics;
      font-style: italic;
      font-size: 12px;
      letter-spacing: 1.5px; }
    .wrapper #main_content form h1 {
      font-size: 32px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      width: 207px; }
    .wrapper #main_content form h3 {
      padding-top: 20px;
      text-align: center;
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px; }
    .wrapper #main_content form .tinyText {
      font-size: 20px;
      margin-top: -23px; }
    .wrapper #main_content form input {
      margin-top: 62px;
      border: none;
      border-bottom: 3px solid black;
      width: 250px; }
    .wrapper #main_content form ::placeholder {
      color: black;
      font-size: 14px;
      font-family: "Gill Sans MT";
      letter-spacing: 1.5px; }
    .wrapper #main_content form #suSubmitPHP {
      margin-top: 56px;
      background-color: #ffd972;
      border: none;
      width: 250px;
      height: 52px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .wrapper #main_content form #suSubmitPHP:hover {
        background-color: rgba(67, 154, 134, 0.7); }

.wrapper #main_content {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto; }
  .wrapper #main_content .loginBlock {
    margin-top: 150px;
    width: 207px; }
    .wrapper #main_content .loginBlock h1 {
      font-size: 32px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      width: 230px; }
    .wrapper #main_content .loginBlock form p {
      color: black;
      font-size: 14px;
      font-family: "Gill Sans MT";
      letter-spacing: 1.5px; }
    .wrapper #main_content .loginBlock form input {
      margin-top: 62px;
      border: none;
      border-bottom: 3px solid black;
      width: 207px; }
    .wrapper #main_content .loginBlock form ::placeholder {
      color: black;
      font-size: 14px;
      font-family: "Gill Sans MT";
      letter-spacing: 1.5px; }
    .wrapper #main_content .loginBlock form #siSubmit {
      margin-top: 56px;
      background-color: #ffd972;
      border: none;
      width: 207px;
      height: 52px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .wrapper #main_content .loginBlock form #siSubmit:hover {
        background-color: rgba(67, 154, 134, 0.7); }
    .wrapper #main_content .loginBlock form .loginDiv .loginBtn {
      margin-top: 56px;
      background-color: #ffd972;
      border: none;
      width: 207px;
      height: 52px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .wrapper #main_content .loginBlock form .loginDiv .loginBtn:hover {
        background-color: rgba(67, 154, 134, 0.7); }
    .wrapper #main_content .loginBlock form .loginDiv .googleDiv {
      text-align: center;
      margin-top: 36px;
      background-color: #ffd972;
      border: none;
      width: 207px;
      height: 62px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .wrapper #main_content .loginBlock form .loginDiv .googleDiv:hover {
        background-color: rgba(67, 154, 134, 0.7); }
      .wrapper #main_content .loginBlock form .loginDiv .googleDiv a {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        color: black; }
  .wrapper #main_content form {
    margin-top: 115px;
    width: 250px; }
    .wrapper #main_content form p {
      font-family: Gill Sans MT, Italics;
      font-style: italic;
      font-size: 12px;
      letter-spacing: 1.5px; }
    .wrapper #main_content form h1 {
      font-size: 32px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      width: 207px; }
    .wrapper #main_content form h3 {
      padding-top: 20px;
      text-align: center;
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px; }
    .wrapper #main_content form .tinyText {
      font-size: 20px;
      margin-top: -23px; }
    .wrapper #main_content form input {
      margin-top: 62px;
      border: none;
      border-bottom: 3px solid black;
      width: 250px; }
    .wrapper #main_content form ::placeholder {
      color: black;
      font-size: 14px;
      font-family: "Gill Sans MT";
      letter-spacing: 1.5px; }
    .wrapper #main_content form #siSubmitPHP {
      margin-top: 56px;
      background-color: #ffd972;
      border: none;
      width: 250px;
      height: 52px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .wrapper #main_content form #siSubmitPHP:hover {
        background-color: rgba(67, 154, 134, 0.7); }
  .wrapper #main_content #message_body {
    width: 100%;
    margin-top: 150px; }
    .wrapper #main_content #message_body p {
      font-size: 28px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px; }
  .wrapper #main_content #return_link {
    margin-top: 150px; }

.wrapper #main_content {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto; }
  .wrapper #main_content .loginBlock {
    margin-top: 150px;
    width: 207px; }
    .wrapper #main_content .loginBlock h1 {
      font-size: 32px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      width: 230px; }
    .wrapper #main_content .loginBlock form p {
      color: black;
      font-size: 14px;
      font-family: "Gill Sans MT";
      letter-spacing: 1.5px; }
    .wrapper #main_content .loginBlock form input {
      margin-top: 62px;
      border: none;
      border-bottom: 3px solid black;
      width: 207px; }
    .wrapper #main_content .loginBlock form ::placeholder {
      color: black;
      font-size: 14px;
      font-family: "Gill Sans MT";
      letter-spacing: 1.5px; }
    .wrapper #main_content .loginBlock form #siSubmit {
      margin-top: 56px;
      background-color: #ffd972;
      border: none;
      width: 207px;
      height: 52px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .wrapper #main_content .loginBlock form #siSubmit:hover {
        background-color: rgba(67, 154, 134, 0.7); }
    .wrapper #main_content .loginBlock form .loginDiv .loginBtn {
      margin-top: 56px;
      background-color: #ffd972;
      border: none;
      width: 207px;
      height: 52px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .wrapper #main_content .loginBlock form .loginDiv .loginBtn:hover {
        background-color: rgba(67, 154, 134, 0.7); }
    .wrapper #main_content .loginBlock form .loginDiv .googleDiv {
      text-align: center;
      margin-top: 36px;
      background-color: #ffd972;
      border: none;
      width: 207px;
      height: 62px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .wrapper #main_content .loginBlock form .loginDiv .googleDiv:hover {
        background-color: rgba(67, 154, 134, 0.7); }
      .wrapper #main_content .loginBlock form .loginDiv .googleDiv a {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        letter-spacing: 2px;
        color: black; }
  .wrapper #main_content form {
    margin-top: 115px;
    width: 250px; }
    .wrapper #main_content form p {
      font-family: Gill Sans MT, Italics;
      font-style: italic;
      font-size: 12px;
      letter-spacing: 1.5px; }
    .wrapper #main_content form h1 {
      font-size: 32px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px;
      width: 207px; }
    .wrapper #main_content form h3 {
      padding-top: 20px;
      text-align: center;
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px; }
    .wrapper #main_content form .tinyText {
      font-size: 20px;
      margin-top: -23px; }
    .wrapper #main_content form input {
      margin-top: 62px;
      border: none;
      border-bottom: 3px solid black;
      width: 250px; }
    .wrapper #main_content form ::placeholder {
      color: black;
      font-size: 14px;
      font-family: "Gill Sans MT";
      letter-spacing: 1.5px; }
    .wrapper #main_content form #siSubmitPHP {
      margin-top: 56px;
      background-color: #ffd972;
      border: none;
      width: 250px;
      height: 52px;
      border-radius: 20px;
      font-family: "Montserrat", sans-serif;
      font-size: 25px;
      letter-spacing: 2px;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .wrapper #main_content form #siSubmitPHP:hover {
        background-color: rgba(67, 154, 134, 0.7); }
  .wrapper #main_content #message_body {
    width: 100%;
    margin-top: 150px; }
    .wrapper #main_content #message_body p {
      font-size: 28px;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 2px; }
  .wrapper #main_content #return_link {
    margin-top: 150px; }

.wrapper .conference_title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 150px; }

.wrapper form {
  margin-top: 115px;
  width: 250px; }
  .wrapper form #forgotForm label {
    font-size: 18px;
    font-family: "Gill Sans MT"; }
  .wrapper form #forgotForm input {
    margin-top: 62px;
    border: none;
    border-bottom: solid 3px black;
    width: 250px; }
  .wrapper form #forgotForm ::placeholder {
    color: black;
    font-size: 14px;
    font-family: "Gill Sans MT";
    letter-spacing: 1.5px; }
  .wrapper form #subPass input {
    background-color: #ffd972;
    border-bottom: none;
    width: 250px;
    height: 52px;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .wrapper form #subPass input:hover {
      background-color: rgba(67, 154, 134, 0.7); }
